<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <form #formRegister="ngForm" (ngSubmit)="register(formRegister.value)">
                <h4>Register</h4>
                    <div class="form-group">
                        <label for="">Account</label>
                        <input type="text" required #taikhoan='ngModel' class="form-control" name="TaiKhoan" ngModel/>
                        <div *ngIf="taikhoan.errors && (taikhoan.touched || taikhoan.dirty)">
                            <div class="alert alert-danger" *ngIf="taikhoan.errors.required">
                                Vui lòng nhập tài khoản
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="text" #matkhau="ngModel" minlength="10" maxlength="20" required class="form-control" name="matKhau" ngModel/>
                        <div *ngIf="matkhau.errors && (matkhau.touched || matkhau.dirty)">
                            <div class="alert alert-danger" *ngIf="matkhau.errors.required">
                                Vui lòng nhập tài khoản
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" name="HoTen" ngModel/>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="Email" ngModel/>
                    </div>
                    <div class="form-group">
                        <label for="">Phone:</label>
                        <input type="text" class="form-control" name="SoDT" ngModel/>
                    </div> 
                    <div class="form-group">
                        <label for="">Type User:</label>
                        <input type="radio" ngModel value="KhangHang" name="MaLoaiNguoiDung"> Khách Hàng
                        <input type="radio" ngModel value="QuanTri" name="MaLoaiNguoiDung"> Quản Trị
                    </div>
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit">Register</button>
                    </div>
            </form>
        </div>
    </div>
    <!-- show add user -->
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tài Khoản</th>
                    <th>Mật Khẩu</th>
                    <th>Email</th>
                    <th>Họ tên</th>
                    <th>Số điện thoại</th>
                    <th>Mã loại người dùng</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nguoidung of mangNguoiDungDangKy">
                    <td>{{nguoidung.TaiKhoan}}</td>
                    <td>{{nguoidung.matKhau}}</td>
                    <td>{{nguoidung.HoTen}}</td>
                    <td>{{nguoidung.Email}}</td>
                    <td>{{nguoidung.SoDT}}</td>
                    <td>{{nguoidung.MaLoaiNguoiDung}}</td>
                    <td> 
                        <button #btnCapNhat class="btn btn-success" 
                        [attr.data-taikhoan]="nguoidung.TaiKhoan" 
                        [attr.data-matKhau]="nguoidung.matKhau" 
                        [attr.data-HoTen]="nguoidung.HoTen" 
                        [attr.data-Email]="nguoidung.Email" 
                        [attr.data-SoDT]="nguoidung.SoDT" 
                        [attr.data-MaLoaiNguoiDung]="nguoidung.MaLoaiNguoiDung" (click)="CapNhat(btnCapNhat)"
                        >Cập nhật</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 