<div class="row">
    <div class="col-12 text-center"> 
        <button class="btn btn-success mr-2">Điện Ảnh</button>
        <button class="btn btn-danger mr-2">Review</button>
        <button class="btn btn-danger">Khuyến Mãi</button>
    </div>
</div>   
<div class='row'>
    <div class='col-12'>
        <app-dien-anh></app-dien-anh>
    </div>
    <div class='col-12'>
        <app-re-view></app-re-view>
    </div>
    <div class='col-12'>
        <app-khuyen-mai></app-khuyen-mai>
    </div>
</div>
